# -*- mode: yaml; -*-
# Begin ~/.config/chezmoi/chezmoi.yaml

# Copyright 2019-2020, Ankit R Gadiya
# BSD License

# Prompts to ask for the information per machine during initialization. The
# configured variables are used by Template files to configure machine specific
# versions of the dotfiles.
{{- $machineType := promptString "machine type (work, home)" }}
{{- $desktop := promptString "desktop (gnome, i3)" }}
{{- $distro := promptString "distro (fedora, ubuntu, arch)" }}
data:
  machine: {{ $machineType }}
  desktop: {{ $desktop }}
  distro: {{ $distro }}

# End ~/.config/chezmoi/chezmoi.yaml
