# -*- mode: yaml; -*-
# Begin ~/.config/chezmoi/chezmoi.yaml

# Copyright 2019-2020, Ankit R Gadiya
# BSD License

# Prompts to ask for the information per machine during initialization. The
# configured variables are used by Template files to configure machine specific
# versions of the dotfiles.

{{- $machineType := "" }}
{{- if (hasKey . "machine") }}
{{-   $machineType = .machine }}
{{- else }}
{{-   $machineType = promptString "machine type (work, home)" }}
{{- end }}

{{- $desktop := "" }}
{{- if (hasKey . "desktop") }}
{{-   $desktop = .desktop }}
{{- else }}
{{-   $desktop = promptString "desktop (mac, gnome, i3)" }}
{{- end }}

{{- $distro := "" }}
{{- if (hasKey . "distro") }}
{{-   $distro = .distro }}
{{- else }}
{{-   $distro = promptString "distro (mac, fedora, ubuntu, arch)" }}
{{- end }}

{{- $guix := "true" }}
{{- if (hasKey . "guix")}}
{{-   $guix = .guix }}
{{- else }}
{{-   $guix = promptBool "using guix"}}
{{- end }}

data:
  machine: {{ $machineType }}
  desktop: {{ $desktop }}
  distro: {{ $distro }}
  guix: {{ $guix }}

# End ~/.config/chezmoi/chezmoi.yaml
