# -*- mode: conf-unix; -*-
# Begin ~/.gitconfig

# Copyright 2016-2024, Ankit R Gadiya
# BSD License

[user]
	name = Ankit R Gadiya
{{- if eq .machine "home" }}
	email = git@argp.in
	signingkey = 3A25137FB8A87C77C5EAC226322DB2D680BAFB16
{{- else if eq .machine "work" }}
	email = ankit.gadiya@rapyuta-robotics.com
	signingkey = 8C56990BFCA0F5209FF5A3026572A8682F35C253
{{- end }}

[commit]
	gpgsign = true

[gpg]
{{- if eq .chezmoi.os "darwin" }}
	program = gpg
{{- else }}
	program = gpg2
{{- end}}

[color]
	ui = true

[core]
	quotepath = false
	editor = emacs-client

[url "ssh://git@github.com/ankitrgadiya/"]
	insteadOf = argh:
[url "ssh://git@github.com/"]
	insteadOf = gh:
[url "ssh://git@gitlab.com/ankitrgadiya/"]
	insteadOf = argl:
[url "ssh://git@gitlab.com/"]
	insteadOf = gl:
[url "https://git.argp.in/"]
	insteadOf = argc:

## Go Modules
## Modules use VCS to fetch the code. For private repositories this
## means the server will ask for username and password. Modules
##  however do not catch that which results in error. Adding these
## lines essentially replace "https" protocol with "ssh" protocol.
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
[url "ssh://git@bitbucket.org/"]
	insteadOf = "https://bitbucket.org/"

[credential]
	helper = store

# End ~/.gitconfig
