# -*- mode: conf; -*-
# Begin ~/.tmux.conf

# Copyright 2016-2021, Ankit R Gadiya
# BSD 3-Clause License

# Remap prefix from 'C-b' to 'C-a'
unbind C-b
set -g prefix C-a
bind-key C-a send-prefix

# Status Bar
set-option -g status-position top

# loud or quiet?
set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
set -g bell-action none
setw -g monitor-activity off
setw -g monitor-silence 0

# Disable the auto renaming of window and set it to the name of Tmux
# session.
setw -g automatic-rename off
set -g set-titles on
set -g set-titles-string '#S'

# Tmux Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'egel/tmux-gruvbox'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'jabirali/tmux-tilish'

# Tilish Configuration
set -s escape-time 0
set -g base-index 1
set -g @tilish-dmenu 'on'

# Colorscheme
set -g @tmux-gruvbox 'dark'

# Initialize TMUX plugin manager (keep this line at the very b ttom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

# Custom Key-bindings
bind-key z run-shell 'arg popup tmux-capture'

# End ~/.tmux.conf
