# -*- mode: conf-unix; -*-
# Begin ~/.gitconfig

# Copyright 2016-2020, Ankit R Gadiya
# BSD License

# I introduce myself to git by configuring my name, email and GPG
# key.
[user]
	name = Ankit R Gadiya
{{- if eq .machine "home" }}
	email = git@argp.in
	signingkey = 3A25137FB8A87C77C5EAC226322DB2D680BAFB16
{{- else if eq .machine "work" }}
	email = ankit.gadiya@rapyuta-robotics.com
	signingkey = 8C56990BFCA0F5209FF5A3026572A8682F35C253
{{- end }}

# I have enabled signing commits with GPG for every commit
[commit]
	gpgsign = true

# Use gpg2 executable in the PATH for signing the commits
[gpg]
	program = gpg2

# Enable colors in output
[color]
	ui = true

# Use Emacs as editor
[core]
	quotepath = false
	editor = emacs-client

# Aliases

## Golang
[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync

## Github
[url "ssh://git@github.com/ankitrgadiya/"]
	insteadOf = argh:
[url "ssh://git@github.com/"]
	insteadOf = gh:

## Gitlab
[url "ssh://git@gitlab.com/ankitrgadiya/"]
	insteadOf = argl:
[url "ssh://git@gitlab.com/"]
	insteadOf = gl:

## Bitbucket
[url "ssh://git@bitbucket.org/rapyutians/"]
	insteadOf = rr:
[url "ssh://git@bitbucket.org/"]
	insteadOf = bb:

## Argc
[url "https://git.argc.in/"]
	insteadOf = argc:

## Go Modules
## Modules use VCS to fetch the code. For private repositories this
## means the server will ask for username and password. Modules
##  however do not catch that which results in error. Adding these
## lines essentially replace "https" protocol with "ssh" protocol.
[url "ssh://git@github.com/"]
	insteadOf = "https://github.com/"
[url "ssh://git@gitlab.com/"]
	insteadOf = "https://gitlab.com/"

[credential]
	helper = store

# End ~/.gitconfig
