[Unit]
Description=GNU Shepherd Daemon Manager

[Service]
ExecStart=/bin/bash -c 'shepherd --logfile=$HOME/.local/var/log/shepherd/shepherd.log'
ExecStop=/bin/bash -c  'herd stop root && rm /run/user/$(id -u)/shepherd/socket'
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10
 
[Install]
WantedBy=default.target
