/* COLORS */
@define-color bg       #11111b;
@define-color overlay  #313244;
@define-color surface  #313244;
@define-color text     #cdd6f4;
@define-color green    #a6e3a1;
@define-color red      #f38ba8;
@define-color peach    #fab387;

@define-color warning  @peach;
@define-color critical @red;

/* Reset all styles */
* {
    border: none;
    border-radius: 10px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    border-radius: 0px;
    background: @bg;
    color: @text;
    font-family: "Iosevka Aile", "Symbols Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
}

/* Common Properties */
#custom-weather,
#backlight,
#pulseaudio,
#mode,
#bluetooth,
#network,
#battery,
#clock,
#custom-vpn,
#tray {
    background: @overlay;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Modules Left */

#custom-weather {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    background: @red;
    color: @surface;
}

#mode {
    background: @peach;
    color: @surface;
}

/* Modules Center */

#workspaces {
    background: @bg;
}

#workspaces button {
    color: @text;
}

#workspaces button.focused {
    background: @overlay;
    color: @text;
}

#workspaces button.urgent {
    background: @red;
    color: @surface;
}

/* Modules Right */

#custom-shepherd.running {
    background: @green;
    color: @surface;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

#network.disconnected {
    background: @warning;
    color: @surface;
}

#battery.critical {
    background: @critical;
    color: @surface;
}

#battery.warning {
    background: @warning;
    color: @surface;
}

#bluetooth {
    padding-left: 1em;
    padding-right: 1em;
}

#custom-vpn.connected {
    background: @green;
    color: @surface;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
